@import url(./fonts.css);

:root {
    --orange: #FF7500;
    --white: #fff;
    --black: #000;
    --primary-font: "Roboto";
    --secondary-font: "RobotoCondensed"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    padding: 0 12px;
    margin: 0 auto;
}

.all-btn {
    max-width: 155px;
    width: 100%;
    color: var(--white) !important;
    background: var(--orange);
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    padding: 12px 0;
    display: block;
    text-align: center;
    transition: .5s;
    text-transform: unset !important;
    border-bottom: unset !important;
}
.all-btn:hover {
    opacity: .6;
}
body {
    font-family: var(--primary-font);
}

/* nav start */
.nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--white);
    z-index: 99;
}
.line {
    width: 100%;
    height: 4px;
    background: var(--orange);
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.nav__logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.nav__logo-image {
    object-fit: cover;
}
.nav__logo-title {
    color: #252420;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-family: var(--secondary-font);

}
.nav__logo-title::after {
    content: 'nashr';
    color: var(--orange);
}
.nav__list {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.nav__link {
    color: var(--black);
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
}
.nav__link:hover {
    border-bottom: 3px solid var(--orange);
}
/* nav end */

/* header start */
.header {
    background: #252420;
    width: 100%;
    min-height: 488px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.header__desc {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}
.header__title {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    width: 339px;
    font-family: var(--secondary-font);
    letter-spacing: 0.5px;
    line-height: 48px;
    position: relative;
}
.header__title::before {
    content: "";
    width: 80px;
    height: 3px;
    background: var(--orange);
    position: absolute;
    top: -40px;
}
.header__text {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 387px;
    width: 100%;
    letter-spacing: 0.5px;
}
.header__image {
    position: relative;
    width: 510px;
    min-height: 510px;
}
.hader__image-img {
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    filter: drop-shadow(24px 24px 0px rgba(255, 117, 0, 0.6)); 
}
/* header end */
.services {
    padding: 150px 0;
}
.services__title {
    color: var(--black);
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: .5px;
    max-width: 435px;
    width: 100%;
    font-family: var(--secondary-font);
}
.services__cards {
    display: flex;
    justify-content: space-between;
}
.services__card {
    width: 30%;
    padding: 50px 0;
}
.services__card-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 117, 0, 0.2);
    display: grid;
    place-items: center;
}
.services__title::before {
    content: '';
    width: 80px;
    height: 3px;
    background: var(--orange);
    display: block;
}
.services__card-title {
    margin: 32px 0 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    font-family: var(--secondary-font);
}
.services__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    max-width: 314px;
    width: 100%;
}
.sale {
    padding-bottom: 100px;
}
.sale__of {
    background: #252420;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sale__desc {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 60px;
}
.sale__desc-title {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    font-family: var(--secondary-font);
    max-width: 373px;
    width: 100%;
}
.sale__decs-text {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    max-width: 440px;
    width: 100%;
}
.sale__decs-text span {
    color: var(--orange);
}
.sale__image {
    width: 440px;
    height: 440px;
    position: relative;
}
.sale__image-img {
    border-radius: 12px;
    position: absolute;
    right: 60px;
    bottom: 60px;
}
.footer {
   background: #F8F8F8;
   padding: 50px 0;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__social {
    display: flex;
    column-gap: 16px;
}
.footer__link {
    color: #252420;
    transition: .5s;
}
.footer__link:hover {
    color: var(--orange);
}
.footer__line {
    width: 100%;
    height: 2px;
    background: rgba(37, 36, 32, 0.5);
    margin: 40px 0;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
}
.menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.menu__link {
    color: #252420;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
}
.menu__link:hover {
    color: var(--orange);
}
